### Java / Gradle ###
.gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### STS (Spring Tool Suite) ###
.apt_generated/
.classpath
.factorypath
.project
.settings/
.springBeans
.sts4-cache/
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/
*.tmp

### Application-specific ###
HELP.md

# 각 서비스 개별 빌드 폴더 무시 (auth, lecture 등)
auth-service/build/
lecture-service/build/
board-service/build/
chat-service/build/
pdf-service/build/
audit-service/build/
gateway-service/build/

application-local.yml
application-prod.yml