spring:
  config:
    activate:
      on-profile: prod

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: validate      # 운영 환경은 validate 권장
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

redis:
  host: ${REDIS_HOST}
  port: ${REDIS_PORT}

jwt:
  secret: ${JWT_SECRET}
  expiration:
    access: 3600000        # 1시간
    refresh: 604800000     # 7일